<!DOCTYPE html>
<html translate="no" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- /google font -->
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- /fontawesome -->
    <link rel="stylesheet" href="css/spotify.css">
    <title>spotify Michele</title>
  </head>
  <body>
    <!-- upgrade -->
    <div class="upgrade">
      <button class="upgrade-btn">effettua l'upgrade</button>
    </div>
    <!-- /upgrade -->
    <main>
      <!-- aside -->
      <aside class="menu">
        <!-- aside top -->
        <div class="logo">
          <img class="normal-logo" src="img/spotify/logo.svg" alt="spotify logo">
          <img class="small-logo" src="img/spotify/logo-small.svg" alt="spotify logo">
        </div>
        <nav class="main_nav">
          <ul>
            <li>
              <a href="#">
                <img src="img/spotify/home.svg" alt="home icon">
                <p>Home</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/spotify/search.svg" alt="search icon">
                <p>Cerca</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="img/spotify/libreria.svg" alt="library icon">
                <p>La tua libreria</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /aside top -->
        <!-- aside center -->
        <div class="playlist_title">
          <h3>playlist</h3>
          <a class="new-playlist" href="#">
            <img src="img/spotify/plus_ico.svg" alt="plus icon">
            <span>Crea Playlist</span>
          </a>
        </div>
        <nav class="playlist">
          <ul class="playlist_list list_none">
            <li><a href="#">Nome Playlist</a></li>
            <li><a href="#">Nome Playlist</a></li>
            <li><a href="#">Nome Playlist</a></li>
            <li><a href="#">Nome Playlist</a></li>
            <li><a href="#">Nome Playlist</a></li>
          </ul>
        </nav>
        <!-- /aside center -->
        <!-- aside bottom -->
        <div class="user">
          <a href="#">
            <i class="far fa-arrow-alt-circle-down"></i>
            <p>Installa app</p>
          </a>
          <hr>
          <div class="profile">
            <img src="img/spotify/profile.svg" alt="user picture">
            <p>Jhon Doe</p>
          </div>
        </div>
        <!-- /aside bottom -->
      </aside>
      <!-- /aside -->
      <!-- gallery -->
      <div class="gallery">
        <!-- gallery nav -->
        <nav>
          <ul class="gallery_nav list_none">
            <li><a href="#">in evidenza</a></li>
            <li><a href="#">podcast</a></li>
            <li><a href="#">classifiche</a></li>
            <li><a href="#">generi e mood</a></li>
            <li><a href="#">nuove uscite</a></li>
            <li><a href="#">scopri</a></li>
          </ul>
        </nav>
        <!-- /gallery nav -->
        <!-- section recently played -->
        <section id="recently_played">
          <h2>Recently played</h2>
          <div class="album_music">
            <a href="#" class="music">
              <div class="album_photo">
                <img src="img/spotify/AbbeyRoadTheBeatles.jpg" alt="album Abbey Road The Beatles">
              </div>
              <h4>The Beatles</h4>
              <p>Abbey Road - Life is what happens to you while you're busy making other plans.</p>
            </a>
            <a href="#" class="music">
              <div class="album_photo">
                <img src="img/spotify/os-tincoas.jpg" alt="album os tincoãs">
              </div>
              <h4>Os Tincoãs</h4>
              <p>independentes do Brasil clube de registros</p>
            </a>
            <a href="#" class="music">
              <div class="album_photo">
                <img src="img/spotify/PinkFloyd-darkSideOfTheMoon.jpg" alt="Pink Floyd album dark Side Of The Moon">
              </div>
              <h4>Pink Floyd</h4>
              <p>Dark Side Of The Moon - An instance of political, philosophical and humanitarian empathy that desperately asked to come out.</p>
            </a>
            <a href="#" class="music">
              <div class="album_photo">
                <img src="img/spotify/bob-marley_gold.jpg" alt="bob-marley gold album">
              </div>
              <h4>Bob Marley</h4>
              <p>Gold - You never know how strong you are until being strong is the only choice you have.</p>
            </a>
            <a href="#" class="music">
              <div class="album_photo">
                <img src="img/spotify/acdc-forThoseAboutRock.jpg" alt="For Those About Rock album ACDC">
              </div>
              <h4>AC/DC</h4>
              <p>For Those About Rock - The earth was quaking, My mind was aching and we were making it And you shoook me all night long.</p>
            </a>
            <a href="#" class="music">
              <div class="album_photo">
                <img src="img/spotify/MichealCleis-LaMezcla.jpg" alt="album Micheal Cleis La Mezcla">
              </div>
              <h4>Micheal Cleis</h4>
              <p>La Mezcla - People are strange when you're a stranger, faces look ugly when you're alore women seems wicked when you're unwanted.</p>
            </a>
          </div>
        </section>
        <!-- /section recently played -->
        <!-- section Created for user -->
        <section id="created_for_user">
          <h2>Creato per John Doe</h2>
          <p>Più ascolti, più accurati saranno i suggerimenti</p>
          <div class="album_music">
            <a href="#" class="music">
              <div class="album_photo">
                <img src="img/spotify/radar.jpeg" alt="il tuo Release Radar">
              </div>
              <h4>Release Radar</h4>
            </a>
            <a href="#" class="music">
              <div class="album_photo">
                <img src="img/spotify/man_on_elephant.jpg" alt="album Daily Mix 1">
              </div>
              <h4>Daily Mix 1</h4>
            </a>
          </div>
        </section>
        <!-- /section Created for user -->
        <!-- /section popolar artists -->
        <section id="popolar">
          <h2>Artisti più popolari</h2>
          <p>Più ascolti, più accurati saranno i suggerimenti</p>
          <div class="album_music">
            <a href="#" class="music">
              <div class="album_photo">
                <img src="img/spotify/ninaSimone_sink&soul.jpg" alt="Nina Simone">
              </div>
              <h4>Nina Simone</h4>
              <p>This is the world you have made yourself, now you have to live in it.</p>
            </a>
            <a href="#" class="music">
              <div class="album_photo">
                <img src="img/spotify/Fabrizio-De-Andre-La-Buona-Novellajpg.jpg" alt="Fabrizio De Andre<">
              </div>
              <h4>De Andrè</h4>
              <p>Vuoi davvero lasciare ai tuoi occhi solo i sogni che non fanno svegliare?</p>
            </a>
          </div>
        </section>
        <!-- /section popolar artists -->
      </div>
      <!-- /gallery -->
    </main>
    <!-- footer -->
    <footer>
      <!-- footer left -->
      <div class="left">
        <div class="playing_album_photo">
          <img src="img/spotify/lucio_dalla.jpg" alt="Grandissimo Lucio - a song for boolean">
        </div>
        <div class="playing_album_text">
          <h5>Lucio Dalla</h5>
          <p>L'anno che verrà</p>
        </div>
        <div class="playing_album_save">
          <ul class="list_none list_inline">
            <li><a href="#"><i class="far fa-heart"></i></a></li>
            <li><a href="#"><i class="far fa-folder"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- /footer left -->
      <!-- footer center -->
      <div class="center">
        <ul class="playback-list list_none">
          <li><a href="#"><i class="fas fa-random"></i></a></li>
          <li><a href="#"><i class="fas fa-step-backward"></i></a></li>
          <li><a href="#"><i class="playbutton far fa-play-circle"></i></a></li>
          <li><a href="#"><i class="fas fa-step-forward"></i></a></li>
          <li><a href="#"><i class="fas fa-undo"></i></a></li>
        </ul>
        <div class="time">
          <p><small class="played-time">0:25</small></p>
          <div class="time_bar">
            <div class="played"></div>
          </div>
          <p><small class="remaining-time">4:35</small></p>
        </div>
      </div>
      <!-- /footer center -->
      <!-- footer right -->
      <div class="right">
        <ul class="sharing list_none">
          <li><a href="#"><i class="fas fa-bars"></i></a></li>
          <li><a href="#"><i class="sharing_ico fas fa-desktop"></i></a></li>
        </ul>
        <div class="sound_ico"><i class="vol-ico fas fa-volume-up"></i></div>
        <div class="volume_bar"><div class="volume"></div></div>
      </div>
      <!-- footer right -->
    </footer>
    <!-- /footer -->
  </body>
</html>
