#aboutMe{
   background-color: $yellowPrimary;
   padding: $sectionPadding;
   position: relative;
   width: 100%;
   overflow: hidden;
   z-index: -10;
   h2{
      text-align: center;
      margin-bottom: 40px;
   }
   p{
      color: #fff;
      font-size: 20px;
   }
   .bells{
      position: absolute;
      z-index: -5;
      width: 25%;
      top: 0;
      right: 0;
      
      @media screen and (max-width: 768px){
         width: 50%;
       }
      img{
         width: 100%;
      }
   }
   .aboutMain{
      height: 1300px;
      position: relative;
      @media screen and (max-width: 1500px){
         height: 2000px;
       }
      @media screen and (max-width: 768px){
      height: 100%
      }
       .allLyric{
          margin-top: 250px;
          padding: 30px;
          border-radius: 10px;
          background-color:  rgba($color: #fff, $alpha: 0.6);
          p{
             color: black;
             margin-bottom: 30px;
          }
         @media screen and (min-width: 768px){
            display: none;
          }
       }
       .cheeseHoles{
         @media screen and (max-width: 768px){
            display: none;
          }
         
         .tecnologies,
         .intro,
         .prevLive,
         .australia{
            position: absolute;
            background-image: url('../img/CHEESEHOLE.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            .content{
               max-width: 65%;
            }
         }
         .intro{
            width: 600px;
            height: 600px;
            top: -20px;
            left: -60px;
            @media screen and (max-width: 768px){
               top: 100px;
               left: -120px;
            }
         }
         .tecnologies{
            width: 400px;
            height: 400px;
            top: 200px;
            right: 15%;
            @media screen and (max-width: 1500px){
               top: 515px;
               right: 0%;
            }
         }
         .prevLive{
            width: 700px;
            height: 700px;
            top: 600px;
            left: 30%;    
            @media screen and (max-width: 1500px){
               top: 900px;
               left: 0;
            }
         }
         .australia{
            width: 300px;
            height: 300px;
            top: 950px;
            left: 5%;
            @media screen and (max-width: 1500px){
               top: 1605px;
            }
         }
      }
      .meElephant{
         width: 35%;
         min-width: 400px;
         position: absolute;
         bottom: -154px;
         right: 0;
         img{
            width: 100%;
         }
         @media screen and (max-width: 768px){
            position: relative;
            width: 100%
         }
      }
      .circle{
         
         &_1{
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: $orangePrimary;
            top: 50%;
            left:50%;
            animation-name: moveCirle;
            animation-duration: 30s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            @keyframes moveCirle {
               0% {
                  top: 50%;
                  left:50%;
               }
               10% {
                 top: 10%;
                 left: 90%;
               }
               30% {
                  top: 12%;
                  left: 6%;
                }
               50% {
                  top: 90%;
                  left: 19%;
                }
               60% {
                 top: 20%;
                 left: -10%;
               }
               100% {
                  top: 50%;
                  left:50%;
               }
             }
         }
         &_2{
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            background-color: $greenPrimary;
            top: 40%;
            left:15%;
            animation-name: moveCirle2;
            animation-duration: 30s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            @keyframes moveCirle2 {
               0% {
                  top: 40%;
                  left:15%;
               }
               20% {
                 top: 80%;
                 left: -10%;
               }
               40% {
                  top: -10%;
                  left:80%;
                }
               60% {
                  top: 20%;
                  left: 0%;
                }
               80% {
                  top: 80%;
                  left:30%;
               }
               100% {
                  top: 40%;
                  left:15%;
               }
             }
         }
         &_3{
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: $lightBluePrimary;
            top: 70%;
            right:0;
            animation-name: moveCirle3;
            animation-duration: 30s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            @keyframes moveCirle3 {
               0% {
                  top: 70%;
                  right:0;
               }
               20% {
                  top: 0;
                  right:70%;
               }
               40% {
                  top: 10%;
                  right:10%;
                }
               60% {
                  top: -10%;
                  right: -10%;
                }
               80% {
                  top: 90%;
                  right:30%;
               }
               100% {
                  top: 70%;
                  right:0;
               }
             }
         }
         &_4{
            position: absolute;
            z-index: -1;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            background-color: $bluePrimary;
            bottom: 0%;
            left:10%;
            animation-name: moveCirle4;
            animation-duration: 30s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            @keyframes moveCirle4 {
               0% {
                  bottom: 0%;
                  left:10%;
               }
               20% {
                  bottom: 20%;
                  left:30%;
               }
               40% {
                  bottom: -10%;
                  left:80%;
                }
               60% {
                  bottom: 40%;
                  left:60%;
                }
               80% {
                  bottom: 10%;
                  left:30%;
               }
               100% {
                  bottom: 0%;
                  left:10%;
               }
             }
         }
      }
   }
}