#contacts{
   padding: $sectionPadding;
   background-color: $greenPrimary;
   color: #fff;
   h2{
      text-align: center;
      margin-bottom: 40px;
   }
   .content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .contactMe{
         width: 50%;
         @media screen and (max-width: 768px){
            width: 100%
         }
         textarea{
            width: 100%;
            color: black;
            padding: 30px;
            font-family: $fontSerious;
         }
      }
      .part{
         width: 20%;
         @media screen and (max-width: 768px){
            width: 100%
         }
         .contact_list{
            list-style: none;
            li{
               margin: 15px 0;
               i{
                  margin-right: 5px;
               }
            }
         }
         .dowload_cv{
            .label{
               margin-bottom: 15px;
            }
            a{
               text-decoration: none;
               padding: 10px;
               background-color: $yellowPrimary;
               transition: 0.5s all;
               color: #000;
               &:hover{
                  background-color: $orangePrimary;
               }
            }
         }
         @media screen and (max-width: 768px){
            text-align: left;
         }
      }
   }
   .lastpart{
      text-align: end;
   }
}