.intro{
   padding: $sectionPadding;
   background-color: #000;
   color: white;
   font-size: 20px;
   .smallContainer{
      display: flex;
      .introleft{
         width: 30%;
         .date{
            margin-right: 10px;
         }
      }
      .introright{
         margin-left: 5%;
         width: 65%;
      }
   }
}