*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   &:focus{
      color: transparent;
      outline: transparent;
      border: transparent;
   }
}
html{
   scroll-behavior: smooth;
 }
body{
   font-family: $fontSerious;
}
.container{
   width: 90%;
   margin: auto;
   height: 100%;
}
.smallContainer{
   width: 60%;
   margin: auto;
}
.mediumContainer{
   width: 75%;
   margin: auto;
}

// SECTIONS
section{
   h2{
      font-family: $fontPlayful;
      font-size: 100px;
   }
}

