// COLORS PALETTE
$orangePrimary: #ED4534;
$redPrimary: #BC342C;
$blackPrimary: #040414;
$yellowPrimary: #F6C76F;
$bluePrimary: #071F41;
$lightBluePrimary: #6BCBF3;
$greenPrimary: #004B5A;


// SPAZI
$sectionPadding: 150px 0;


// FONT
$fontPlayful:'Ranchers', cursive;;
$fontSerious:'Oxygen', sans-serif;;