<!DOCTYPE html>
<html translate="no"  dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hubspot</title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- google font -->
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- /fontawesome -->
    <link rel="stylesheet" href="css/hubspot.css">
  </head>
  <body>
    <header>
      <!-- TOP LINE -->
      <div class="top_header">
       <div class="container clearfix">
         <nav class="top_header_left">
            <ul>
              <li><a href="#"><i class="fas fa-globe-europe"></i>English<i class="fas fa-angle-down"></i></a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
          <nav class="top_header_right">
            <ul>
              <li><a href="#"><i class="fas fa-search"></i></a></li>
              <li><a class="empty_button" href="#">Log in</a></li>
              <li><a class="small_button" href="#">GetHubspotFree</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /TOP LINE -->
      <!-- MAIN LINE -->
      <div class="main_header">
        <div class="container clearfix">
          <div class="logo">
            <img src="img/hubspot/logo.svg" alt="logo hubspot">
          </div>
          <nav class="main_header_nav">
            <ul>
              <li><a href="#">Software<i class="fas fa-angle-down"></i></a></li>
              <li><a href="#">Pricing<i class="fas fa-angle-down"></i></a></li>
              <li><a href="#">Resources<i class="fas fa-angle-down"></i></a></li>
              <li><a href="#">Partners<i class="fas fa-angle-down"></i></a></li>
              <li><a href="#">About<i class="fas fa-angle-down"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /MAINLINE -->
      <!-- BANNER -->
      <div class="banner spacer">
        <div class="banner_lyric container">
          <h1>There's a better way to grow</h1>
          <p>Marketing, sales, and service software that helps your business grow without compromise. Because "good for the business" should also mean "good for the customer".</p>
          <a class="big_button" href="#"> GetHubspotFree</a>
          <small>Get stared with FREE tools, and upgrade as you grow</small>
        </div>
      </div>
      <!-- /BANNER -->
    </header>
    <main>
      <!-- SECTION 1 -->
      <section class="section_1">
        <div class="container clearfix">
        <!-- SECTION INTRO -->
          <div class="intro">
            <div class="photo_intro">
              <img src="img/hubspot/Integrations_Illustration@2x0.webp" alt="rubik cube">
            </div>
            <h3>Powerfull Alone. Better Together</h3>
            <p>HubSpot offers a full stack of software for marketing, sales, and customer service, with a completely free Crm ai its core.They're powerful alone - but even better when used togheter.</p>
          </div>
        <!-- /SECTION INTRO -->
        <!-- SECTION BOXES -->
          <!-- BOX_1 -->
          <div class="box top_box clearfix">
            <div class="left_side">
              <div class="photo">
                <img src="img/hubspot/CRM-Illustration.svg" alt="crm illustration">
              </div>
              <a class="big_button" href="#">Learn More</a>
            </div>
            <div class="right_side">
              <h4>Free HubSpot CRM</h4>
              <p>Everything you need to organize, track, and build better relationships with leads and customers. Yes, it's 100% free. Forever.</p>
              <h5><span>popolar feature</span></h5>
              <ul>
                <li>Contact Insight</li>
                <li>Deals</li>
                <li>Task</li>
              </ul>
            </div>
          </div>
          <!-- /BOX_1 -->
          <!-- BOX_LEFT -->
          <div class="box left_box col">
            <div class="box_content">
              <div class="photo">
                <img src="img/hubspot/Marketing-Hub-Free.svg" alt="marketin hub photo">
              </div>
              <h4>Marketing Hub</h4>
              <p>Marketing Software to help you grow traffic, convert more visitors, and run complete inbound marketing campaigns at scale.</p>
              <hr>
              <h5>popolar feature</h5>
              <ul>
                <li>Lead Generation</li>
                <li>Marketing automation</li>
                <li>Analytics</li>
              </ul>
              <a class="big_button" href="#">Learn More</a>
            </div>
          </div>
          <!-- BOX_LEFT -->
          <!-- BOX_CENTER -->
          <div class="box center_box col">
            <div class="box_content">
              <div class="photo">
                <img src="img/hubspot/Sales-Professional-Illustration.svg" alt="sales hub photo">
              </div>
              <h4>Sales Hub</h4>
              <p>Time-saving sales software that helps you get deeper insights into project, automate the task you hate, and close more delas faster.</p>
              <hr>
              <h5>popolar feature</h5>
              <ul>
                <li>Email Traking</li>
                <li>Meeting Scheduling</li>
                <li>Email Automation</li>
              </ul>
              <a class="big_button" href="#">Learn More</a>
            </div>
          </div>
          <!-- BOX_CENTER -->
          <!-- BOX_RIGHT -->
          <div class="box right_box col">
            <div class="box_content">
              <div class="photo">
                <img src="img/hubspot/Service-Hub-Illustration.svg" alt="Service Hub Photo">
              </div>
              <h4>Service Hub</h4>
              <p>Customer service software to help you connect with customers, exceed expectations, and turn them into promoters that grow your business</p>
              <hr>
              <h5>popolar feature</h5>
              <ul>
                <li>Tickets</li>
                <li>Customer Feedback</li>
                <li>Knowledge Base</li>
              </ul>
              <a class="big_button" href=#>Learn More</a>
            </div>
          </div>
          <!-- BOX_RIGHT -->
        </div>
        <!-- /SECTION BOXES -->
      </section>
      <!-- /SECTION1 -->
      <!-- SECTION 2 -->
      <section class="section_2">
        <div class="container clearfix">
          <h3>Learn and grow with award-winning support and a thriving communty behind you.</h3>
          <p>you don't have to go it alone. Master thr inbound methodology and the most out of your tools with HubSpot's legendary customers support team and a community of thousands of marketing and sales pros just like you.</p>
          <div class="table">
            <div class="top_ row clearfix">
              <div class="cell">
                <img src="img/hubspot/homepage_community_agency.svg" alt="handshake">
                <h5>150</h5>
                <small>HubSpot user groups</small>
              </div>
              <div class="cell">
                <img src="img/hubspot/homepage_community_blog.svg" alt="HubSpot blogs logo">
                <h5>4.5M</h5>
                <small>monthly visits</small>
              </div>
              <div class="cell">
                <img src="img/hubspot/homepage_community_agency.svg" alt="HubSpot Accademy logo">
                <h5>155K</h5>
                <small>certified professionals</small>
              </div>
              <div class="cell">
                <img src="img/hubspot/homepage_community_inbound.svg" alt="Inbound logo">
                <h5>21K</h5>
                <small>Registred attendees</small>
              </div>
            </div>
            <div class="bottom_ row clearfix">
              <div class="cell">
                <img src="img/hubspot/homepage_community_connect.svg" alt="HubSpot connect logo">
                <h5>200</h5>
                <small>integrations</small>
              </div>
              <div class="cell">
                <img src="img/hubspot/homepage_community_globe.svg" alt="world">
                <h5>6</h5>
                <small>languages</small>
              </div>
              <div class="cell">
                <img src="img/hubspot/homepage_community_followers.svg" alt="chats logo">
                <h5>2.6M</h5>
                <small>social followers</small>
              </div>
              <div class="cell">
                <img src="img/hubspot/growthhub-white-small-1.svg" alt="growthHub logo">
                <h5>5K</h5>
                <small>profiles and counting</small>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /SECTION 2 -->
      <!-- SECTION 3 -->
      <section class="section_3">
        <div class="container">
          <!-- SECTION_TOP -->
          <div class="section_top clearfix">
            <div class="box_left">
              <h5>64,500</h5>
              <p>customers in over <span>100</span> countries growing their business with HubSpot</p>
            </div>
            <div class="box_right">
              <div class="top_row">
                <img src="img/hubspot/Atlassian-horizontal-blue@2x.png" alt="atlassian logo">
                <img src="img/hubspot/doordash_owler_20181011_194113_original@2x.png" alt="doordash logo">
                <img src="img/hubspot/g2crowd-logo@2x.png" alt="crowd logo">
                <img src="img/hubspot/purple-logo@2x.webp" alt=" porple logo">
              </div>
              <div class="bottom_row">
                <img src="img/hubspot/Subaru_Logo_v2_186x63@2x.webp" alt="subaru logo">
                <img src="img/hubspot/Wistia_logo@2x.webp" alt="wistia logo">
                <img src="img/hubspot/Classpass-logo@2x.webp" alt="classpass logo">
                <img src="img/hubspot/VMware_logo_gry_RGB_300dpi@2x.webp" alt="vmware logo">
              </div>
            </div>
          </div>
          <!-- /SECTION_TOP -->
          <!-- SECTION_BOTTOM -->
          <div class="section_bottom clearfix">
            <div class="left_side">
              <h3>Start Growing With HubSpot Today</h3>
              <p>With tools to make every part of your process more human and a support team excited to help you, getting started with inbound has never been easier</p>
              <a class="big_button" href="#"> GetHubspotFree</a>
              <small>Get stared with FREE tools, and upgrade as you grow</small>
            </div>
            <div class="right_side">
              <img src="img/hubspot/woman.webp" alt="Asian smily girl">
            </div>
          </div>
          <!-- /SECTION_BOTTOM -->
        </div>
      </section>
      <!-- /SECTION 3 -->
    </main>
    <footer>
      <div class="container">
        <!-- FOOTER TOP -->
        <div class="footer_top clearfix">
          <div class="links_col">
            <h6>Increase Your Traffic</h6>
            <ul>
              <li><a href="#">Ad Software</a></li>
              <li><a href="#">Blog Software</a></li>
              <li><a href="#">SEO Software</a></li>
              <li><a href="#">Social Media Software</a></li>
              <li><a href="#">Content Management System</a></li>
            </ul>
          </div>
          <div class="links_col">
            <h6>Connect With Leads</h6>
            <ul>
              <li><a href="#">Find New Prospects</a></li>
              <li><a href="#">Email Tracking</a></li>
              <li><a href="#">Sales Email Templates</a></li>
              <li><a href="#">Click to Call Your Leads</a></li>
              <li><a href="#">Email Marketing</a></li>
            </ul>
          </div>
          <div class="links_col">
            <h6>Close and Manage Leads</h6>
            <ul>
              <li><a href="#">Document Tracking Tool</a></li>
              <li><a href="#">Meeting Schedule Tool</a></li>
              <li><a href="#">Sales Automation Tool</a></li>
              <li><a href="#">Lead Management Tool</a></li>
              <li><a href="#">Pipeline Management Tool</a></li>
            </ul>
          </div>
          <div class="links_col">
            <h6>Support and Tools</h6>
            <ul>
              <li><a href="#">Hubspot Partners</a></li>
              <li><a href="#">Join a Local User Group</a></li>
              <li><a href="#">Get a Free Website Report</a></li>
              <li><a href="#">HubSpot Templates</a></li>
              <li><a href="#">Free Tools & Generators</a></li>
              <li class= ContactUs_button><a class="small_button" href="#">Contact HubSpot Support</a></li>
              <li>
                <ul class="social">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- /FOOTER TOP -->
        <!-- FOOTER BOTTOM -->
        <div class="footer_bottom">
          <div class="languages">
            <ul>
              <li><a href="#">English</a></li>
              <li><a href="#">Deutsch</a></li>
              <li><a href="#">日本語</a></li>
              <li><a href="#">Español</a></li>
              <li><a href="#">Português</a></li>
              <li><a href="#">Français</a></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="main_footer clearfix">
          <div class="left_side">
            <div class="final_logo">
              <img src="img/hubspot/HSLogo_gray.svg" alt="HubSpot white logo">
            </div>
            <p>copyright &copy; 2019 HubSpot, Inc.</p>
          </div>
          <div class="right_side">
            <ul>
              <li><a href="#">Legal Stuff</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <!-- /FOOTER BOTTOM -->

      </div>
    </footer>
  </body>
</html>
