<!DOCTYPE html>
<html translate="no" >
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="img/digitalocean/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/digitalocean/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/digitalocean/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/digitalocean/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/digitalocean/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/digitalocean/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/digitalocean/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/digitalocean/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/digitalocean/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/digitalocean/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/digitalocean/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/digitalocean/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/digitalocean/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="img/digitalocean/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicon -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- /fontawesome -->
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <!-- /google font -->
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- /bootstrap cdn -->
    <link rel="stylesheet" href="css/digitalocean.css">
    <title>digital ocean Michele</title>
  </head>
  <body>
    <!-- heading -->
    <header>
        <!-- navbar  -->
        <div class="nav_bar">
          <div class="container">
            <div class="row">
              <div class="col-xs-2">
                <div class="logo">
                  <img src="img/digitalocean/logo.png" alt="digitalOcean logo">
                </div>
              </div>
              <div class="col-xs-5 text-center">
                <nav class="main-nav  visible-lg-inline-block visible-md-inline-block">
                  <ul class="list-inline">
                    <li><a href="#">Products<i class="fas fa-angle-down"></i></a></li>
                    <li><a href="#">Customers</a></li>
                    <li><a href="#">Community<i class="fas fa-angle-down"></i></a></li>
                    <li><a href="#">Pricing</a></li>
                  </ul>
                </nav>
              </div>
              <div class="col-xs-5 text-right">
                <nav class="secondary-nav visible-lg-inline-block visible-md-inline-block">
                  <ul class="list-inline">
                    <li><a href="#">Docs</a></li>
                    <li><a href="#">Support<i class="fas fa-angle-down"></i></a></li>
                    <li><a href="#">Login</a></li>
                    <li><button class="empty_button">Sing Up</button></li>
                  </ul>
                </nav>
                <button class="btn burger-button hidden-md hidden-lg"><i class="fas fa-bars"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /navbar -->
        <!-- hero -->
        <div class="hero">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="hero_title">
                  <h1>The simplest cloud platform for developers & teams</h1>
                  <p>Deploy, manage, and scale cloud applications faster and more efficently on DigitalOcean. We make managing infrastructure easy for teams and business, whether you're running one virtual machine or ten thousand</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                <div class="sing_up_box">
                  <h4>Deploy your app in seconds.</h4>
                  <h4 class="h4-blue">Get started now.</h4>
                  <input type="email" placeholder="Email">
                  <input type="password" placeholder="Password">
                  <button class="btn btn_blue">Create your account</button>
                  <button class="btn btn_google">Sing up with google</button>
                  <p><small>By singing up you agree to the<br><a href="#">Terms of Service</a></small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /hero -->
    </header>
    <!-- /heading -->
    <!-- main -->
    <main>
      <!-- section trust -->
      <section id="trust" class="bg_grey">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h3>innovative business trust digitalocean</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 customer_logo">
                <img src="img/digitalocean/docker.svg" alt="docker logo">
                <img src="img/digitalocean/gitlab.svg" alt="gitlab logo">
                <img src="img/digitalocean/slack.svg" alt="slack logo">
                <img src="img/digitalocean/HashiCorp.svg" alt="HashiCorp logo">
                <img src="img/digitalocean/WeWork.svg" alt="WeWork logo">
                <img src="img/digitalocean/splunk.svg" alt="splunk logo">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="#">View customer stories <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </section>
      <!-- /section trust -->
      <!-- section deploy&scale-->
      <section id="deploy&scale">
        <div class="container_small">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 text-center">
                <h2>Deploy and scale seamlessy</h2>
                <p>Our optimazed configuration process saves your team time when running and scaling distributed applications, AI & machine learning workloads, hosted services, client websites, or CI/CD environments</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-3 deploy-elements">
              <ul class="deploy-list">
                <li><a href="#">Deploy</a></li>
                <li><a href="#">Manage</a></li>
                <li><a href="#">Secure</a></li>
                <li><a href="#">Scale</a></li>
                <li><a href="#">Monitor</a></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-9 deploy-elements">
              <div class="col-xs-12 col-sm-6">
                <div class="deploy_box">
                  <img src="img/digitalocean/cluster-deploy.svg" alt="cluster deploy">
                  <h5>Cluster deployments</h5>
                  <p>provosopn multiple Sroplets (virtual machines) in seconds with our control panel, CLI, or directly against our API.</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="deploy_box">
                  <img src="img/digitalocean/optimized-compute.svg" alt="optimized compute">
                  <h5>Optimized-compute types</h5>
                  <p>Get the compute resources you need with Standard or Optimazed Droplets</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="deploy_box">
                  <img src="img/digitalocean/one-click.svg" alt="one click">
                  <h5>One-click apps</h5>
                  <p>Skip the install and configuration process with pre-built open source images supporting Rails, Cassandra, Docker, and more.</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="deploy_box">
                  <img src="img/digitalocean/global.svg" alt="global availability">
                  <h5>Global availability</h5>
                  <p>Deploy to any of our data center regions around the world</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /section deploy&scale-->
      <!-- section designed FOR developers-->
      <section id="designedFORdevelopers" class="bg_grey">
        <div class="container_small carousel">
          <div class="text-center">
            <h2>Designed for developers</h2>
            <p>Build more and spend less time managing your infastructure with our easy-to-use control panel and API</p>
          </div>
          <div class="box box-1 arrow">
            <i class="fas fa-chevron-left"></i>
          </div><!--
          --><div class="box box-2 text-center">
            <img src="img/digitalocean/screenshot-create-droplet-12336b41.jpg" alt="screenshot">
          </div><!--
          --><div class="box box-3 arrow text-right">
            <i class="fas fa-chevron-right"></i>
          </div>
          <div class="text-center">
            <h5>Create compute servers in 55 seconds or less.</h5>
            <div class="bullets">
              <i class="fas fa-circle"></i>
              <i class="far fa-circle"></i>
              <i class="far fa-circle"></i>
              <i class="far fa-circle"></i>
            </div>
          </div>
        </div>
      </section>
      <!-- /section designed FOR developers-->
      <!-- section features-->
      <section id="features">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h2>The features your business needs</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="features_box">
                <img src="img/digitalocean/pred-pricing.svg" alt="Predictable pricing">
                <h5>Predictable pricing</h5>
                <p>Leave complex pricing structures behind. always know what you'll pay per month with flat, industry-leading pricing structure.</p>
                <a href="#">Pricing<i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="features_box">
                <img src="img/digitalocean/world-class.svg" alt="World-class service">
                <h5>World-class service</h5>
                <p>Free round-the-clock technical support for all customers. You'll feel the love.</p>
                <a href="#">Support<i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="features_box">
                <img src="img/digitalocean/reliable-platform.svg" alt="reliable platform">
                <h5>Reliable platform</h5>
                <p>More than 100,000 developer teams worldwide trust DigitalOcean to support their business with a 99,99% uptime SLA for all.</p>
                <a href="#">Security<i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /section features-->
      <!-- section around THE world-->
      <section id="aroundTHEworld">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h2>Service your customers around the world from 12 regions.</h2>
            </div>
          </div>
          <div class="row ">
            <div class="col-xs-12 col-lg-6 graphic">
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>AMS2</p>
                </div>
                <div class="col-xs-7">
                  <p>Amsterdam, Netherland</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>AMS3</p>
                </div>
                <div class="col-xs-7">
                  <p>Amsterdam, Netherland</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>BLR1</p>
                </div>
                <div class="col-xs-7">
                  <p>Bangalore, India</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>FRA1</p>
                </div>
                <div class="col-xs-7">
                  <p>Frankfurt, German</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>LON1</p>
                </div>
                <div class="col-xs-7">
                  <p>London, UK</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>NYC1</p>
                </div>
                <div class="col-xs-7">
                  <p>New York, USA</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-6 graphic">
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>AMS2</p>
                </div>
                <div class="col-xs-7">
                  <p>Amsterdam, Netherland</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>AMS3</p>
                </div>
                <div class="col-xs-7">
                  <p>Amsterdam, Netherland</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>BLR1</p>
                </div>
                <div class="col-xs-7">
                  <p>Bangalore, India</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>FRA1</p>
                </div>
                <div class="col-xs-7">
                  <p>Frankfurt, German</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>LON1</p>
                </div>
                <div class="col-xs-7">
                  <p>London, UK</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
              <div class="row region">
                <div class="cap col-xs-2">
                  <p>NYC1</p>
                </div>
                <div class="col-xs-7">
                  <p>New York, USA</p>
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">Test speed <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section around THE world-->
      <!-- section love Digital Ocean-->
      <section id="loveDigitalOcean" class="bg_grey">
        <div class="container_small carousel">
          <div class="text-center">
            <h2>Developments teams love DigitalOcean</h2>
          </div>
          <div class="box box-1 arrow">
            <i class="fas fa-chevron-left"></i>
          </div><!--
          --><div class="box box-2 main_carousel_2 text-center">
            <img src="img/digitalocean/rockerbox.png" alt="rockerbox logo">
            <p>"We have been able to make scaling the technical infastructure of our business coat effective and efficient.</p>
            <p><small><strong>Rick O'Toole</strong><br>Co-founder and CTO</small></p>
            <a href="#">Read story<i class="fas fa-chevron-right"></i></a>
          </div><!--
          --><div class="box box-3 arrow text-right">
            <i class="fas fa-chevron-right"></i>
          </div>
          <div class="text-center">
            <div class="bullets">
              <i class="fas fa-circle"></i>
              <i class="far fa-circle"></i>
              <i class="far fa-circle"></i>
            </div>
          </div>
        </div>
      </section>
      <!-- section love Digital Ocean-->
      <!-- section get Started-->
      <section id="getStarted">
        <div class="text-center">
          <h2>Get Started now.</h2>
          <button class="btn btn_getStarted">Create your account</button>
        </div>
      </section>
      <!-- section get Started-->
    </main>
    <!-- /main -->
    <!-- footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-4 footer_left">
            <img src="img/digitalocean/logo-small.svg" alt="logo small">
            <p class="copyright">© 2018 DigitalOcean, LLC, All rights reserved. <br><small>Product made in NY</small></p>
            <ul class="social_list list-inline">
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-2 list_footer">
            <h6>Company</h6>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Leadership</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Partner Network</a></li>
                <li><a href="#">Refarral Program</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Prees</a></li>
                <li><a href="#">Legal & Security</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-2 list_footer">
            <h6>Products</h6>
              <ul>
                <li><a href="#">Droplets</a></li>
                <li><a href="#">Spaces</a></li>
                <li><a href="#">Kubernets</a></li>
                <li><a href="#">Load Balancers</a></li>
                <li><a href="#">Block Storage</a></li>
                <li><a href="#">Tools & Integrations</a></li>
                <li><a href="#">One-Click Apps</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Release Notes</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-2 list_footer">
            <h6>Community</h6>
              <ul>
                <li><a href="#">Tutorials</a></li>
                <li><a href="#">Meetups</a></li>
                <li><a href="#">Q&A</a></li>
                <li><a href="#">Write for Donations</a></li>
                <li><a href="#">Droplets for Demos</a></li>
                <li><a href="#">Hatch</a></li>
                <li><a href="#">Shop Swag</a></li>
                <li><a href="#">Research Program</a></li>
                <li><a href="#">Currents Research</a></li>
                <li><a href="#">Open Source</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-2 list_footer">
            <h6>Support</h6>
              <ul>
                <li><a href="#">Contact support</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Network Status</a></li>
              </ul>
          </div>
        </div>

      </div>
    </footer>
    <!-- /footer -->
    <!-- help button -->
    <a class="helpbutton">
      <div class="SammyShark">
        <div class="notifications">
          <p>2</p>
        </div>
      </div>
      <div class="question">
        <p>Can I help answer any question you have about DigitalOcean?</p>
      </div>
    </a>
    <!-- help button -->
  </body>
</html>
